<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MAIL_SERVER" value="smtp.mailtrap.io"/>
    <add key="MAIL_USERNAME" value="0e86676f02f5c8"/>
    <add key="MAIL_PASSWORD" value="4c8b87647fb106"/>
    <add key="MAIL_PORT" value="2525"/>
    <add key="MAIL_FROM" value="luka.robajac@gmail.com"/>
  </appSettings>  
  <connectionStrings>
    <add name ="time_tracker" connectionString ="Server=.;Database=time_tracker;User Id=sqladmin;Password=sqladmin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>