<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name ="time_tracker" connectionString ="Server=.;Database=time_tracker;User Id=sqladmin;Password=sqladmin;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>